body { font-family: system-ui, sans-serif; margin: 2rem; background-color: #f0f0f0}
pre { background: #f6f6f6; padding: .75rem; border-radius: .5rem; }
button { padding: .4rem .8rem;}


.pg {
    background-color: white;
    width:70%;
    text-align: center;
    margin: 0 auto;
    border-width: 10px;
    border-radius:8px;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 10%;
    right: 10%;

}
.scrollable {

    max-width:25%;
    margin:0 auto;
}
.static {
    min-width: 25%;
    min-height: 100px;
    margin:0 auto;
}
.details {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 0px;
    left:50%;
    background-color: #dcf0f5;
    border-radius:8px;
    margin: 0;
    align-items: center;
}
.d-page {
    background-color: #a5c1d6;
    border-radius:8px;
    padding: 20px;
    margin: 0 auto;
}
.title-field {
    font-size: xxx-large;
    padding: 20px;
    text-align: center;
    width: 25%;
    margin: 0 auto;

}

.field {
    text-align: center;
    background-color: #ffffff;
    border-radius:8px;
    padding: 10px;

}
.doc-list {
    max-width: 600px;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-width: thin;
    border-color:black;
    background-color: #dcf0f5;
    border-radius: 6px;
    list-style-type: none;
    text-align: left;
    display:inline-block;
}
.com-list {
    max-width: 600px;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-width: thin;
    border-color:black;
    background-color: #dcf0f5;
    border-radius: 6px;
    list-style-type: none;
    text-align: left;
    display:inline-block;
}

.doc-unproc {
    max-width: 600px;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-width: thin;
    border-color:black;
    background-color: #ef9393;
    border-radius: 6px;
    list-style-type: none;
    text-align: left;
    display:inline-block;
}

.listcont {
    text-align: center;
}

.doc-list:hover{
    background-color: #b6c9d1;
}